#patternScreen{padding:0;}#patternPage{border:none;}#patternTopBar,
#patternClearHeaderCenter,
#patternClearHeaderLeft,
#patternClearHeaderRight,
#patternTopBarContents{height:75px;overflow:hidden;}#patternTopBarContents{padding-top:12px;}